<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Computer Component Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Products" asp-action="Home">HCP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Products" asp-action="Partpicker">Custom PC Part Picker</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Products" asp-action="AllProducts">All Products</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Cables">Cables</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Cases">Cases</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="CoolingSystems">Cooling Systems</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Motherboards">Motherboards</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Peripherals">Peripherals</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Processors">Processors</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="RAM">RAM</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="Storage">Storage</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="VideoCards">Video Cards</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Featured Builds
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Products" asp-action="HardcoreFeaturedBuild">HARDCORE</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="CasualFeaturedBuild">Casual</a>
                        <a class="dropdown-item" asp-controller="Products" asp-action="PlebFeaturedBuild">pleb</a>
                    </div>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-sm">
                    <ul>
                        <li><a id="footer-logo" asp-controller="Home" asp-action="AllProducts">HCP</a></li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>
                <div class="col-sm">
                    <ul>
                        <li><a class="footer-item" asp-controller="Products" asp-action="All Product">All Products</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="Partpicker">Build Custom PC</a></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul>
                        <li><a class="footer-item" asp-controller="Products" asp-action="Cables">Cables</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="CoolingSystems">Cooling Systems</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="Motherboards">Motherboards</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="Peripherals">Peripherals</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="Processors">Processors</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="RAM">RAM</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="Storage">Storage</a></li>
                        <li><a class="footer-item" asp-controller="Products" asp-action="VideoCards">Video Cards</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
