/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* custom class */
a {
    color: #9b333f;
}
a:hover {
    color: #e8e8e8;
    text-decoration: none;
}
.bg-dark {
    background-color: #1C1C1C !important;
    border-bottom: .1px solid #9b333f;
}
.card p {
    color: #1C1C1C;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.col-12.col-sm-4 {
    margin-bottom: 33px;
}
.container-fluid {
    margin-top: 66px;
}
.carousel-caption {
    bottom:13.5%;
}
.carousel-caption p {
    font-weight: 900;
    font-size: 4.5em !important;
    margin-bottom: 0;
}
.dropdown-item {
    color: #9b333f;
    border-bottom: 1px solid #9b333f;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #e8e8e8;
    text-decoration: none;
    background-color: #9b333f;
}
.dropdown-menu {
    background-color: #1C1C1C;
    margin: 0px;
    padding: 0px; 
    border-radius:0;
}

footer {
    border-top: 1px solid #9b333f;
    padding-top: 3.6rem;
}
.footer-item {
       color:#9b333f;
       text-decoration:none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8;
}
.nav-link {
    display: block;
    padding: 1.5rem 1rem;
}
.navbar {
    padding: 0 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #9b333f;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #9b333f;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #e8e8e8;
}



/* custom ID */
#cablePickerCasual {
    display: none;
}
#cablePickerHardcore {
    display: none;
}
#cablePickerPleb {
    display: none;
}
#coolingSystemPickerCasual {
    display: none;
}
#coolingSystemPickerHardcore {
    display: none;
}
#coolingSystemPickerPleb {
    display: none;
}
#footer-logo {
    color: #9b333f;
    font-size: 2.7rem;
}
#footer-logo:hover {
    color: #e3e3e3;
    font-size: 2.7rem;
}
#homeCard {
    margin-top: 3rem;
}
#homepage-col-spacing {
    margin-top:30px;
}
#homepage-divider {
    width: 100%;
    height: 1px;
    margin-top: 2.7rem;
    margin-bottom: 1.8rem;
    border-bottom: 1px solid #e8e8e8;
}



/* standard css */
body {
    padding-bottom: 20px;
    background-color: #1C1C1C !important;
    color: #e8e8e8;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.btn.btn-primary {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    padding: 15px;
}


.row {
    margin-bottom: 2.7rem;
}
.partpicker-label {
    color: #9b333f;
    font-size: 1.8em;
}

/* Wrapping element */
/* Set some basic padding to keep conten5t from hitting the edges */
.body-content {
    padding: 44px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
ul {
    list-style-type: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

