/* custom class */
a {
    color: #9b333f;
}
a:hover {
    color: #e8e8e8;
    text-decoration: none;
    background-color:#1C1C1C;
}
.bg-dark {
    background-color: #1C1C1C !important;
    border-bottom: .1px solid #9b333f;
}
.btn-primary {
    color: #E8E8E8;
    background-color: #9b333f;
    border-color: #9b333f;
    
}
.btn-primary:hover {
    color: #E8E8E8;
    background-color: #1C1C1C;
    border-color: #1C1C1C;
}
.card p {
    color: #1C1C1C;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 19px;
    text-align: left;
}

.carousel-caption {
    bottom:2rem;
}
.carousel-subheader {
    color: #9b333f;
    background-color: #1c1c1c;
    padding: 10px;
}
.carousel-subheader:hover {
    color: #E8E8E8;
    background-color: #9b333f;
    padding: 10px;
}
.col {
    margin-top: 27px;
}
.col-12.col-sm-4 {
    margin-bottom: 33px;
}
.container-fluid {
    margin-top: 66px;
}

.dropdown-item {
    color: #9b333f;
    border-bottom: 1px solid #9b333f;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #e8e8e8;
    text-decoration: none;
    background-color: #9b333f;
}
.dropdown-menu {
    background-color: #1C1C1C;
    margin: 0;
    padding: 0; 
    border-radius:0;
}

footer {
    border-top: 1px solid #9b333f;
    padding-top: 3.6rem;
    border-bottom: 1px solid #9b333f;
    padding-bottom: 1.8rem;
}
.footer-item {
    color: #9b333f;
    text-decoration: none;
}
.footer-item:hover {
    color: #E8E8E8;
    background-color: #9b333f;
    text-decoration: none;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom:.9rem;
}

h3 {
    color:#1c1c1c;
    opacity:.6;
}
h6 {
    font-size: 2.1rem;
    border-bottom:1px solid #9b333f;
    font-weight:900;
    font-family:inherit;
    color:#E8E8E8;
    padding-top:27px;
    padding-bottom:9px;
    text-align:center;
}
.h1, .h2, .h4, .h5, .h6, h1, h2, h4, h5, h6 {
    color: #e8e8e8;
    margin-bottom: .9rem;
}
.homepage-h1 {
    color: #9b333f;
    padding: 9px;
    text-align: center;
    font-size: 1.2rem;
    margin-right: auto;
    margin-bottom:9px;
    margin-left: auto;
    display: block;
}
.homepage-h1:hover {
    color: #E8E8E8;
    background-color: #9b333f;
    padding: 9px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 9px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
hr {
    border-top: 1px solid #9b333f;
}
.img-responsive {
    width: 100%;
}
label {
    color: #9b333f;
    opacity: 0.9890;
}
.nav-link {
    display: block;
    padding: 1.5rem 1rem;
}
.navbar {
    padding: 0 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #9b333f;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #9b333f;
    color: #e8e8e8;
    text-decoration: none;
    padding: 1.5rem .5rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #e8e8e8;
}
.navbar-dark .navbar-brand {
    font-size: 1.8rem;
    padding-bottom: .6rem;
    color: #E8E8E8;
}
/* custom ID */
#cablePickerCasual {
    display: none;
}
#cablePickerHardcore {
    display: none;
}
#cablePickerPleb {
    display: none;
}
#coolingSystemPickerCasual {
    display: none;
}
#coolingSystemPickerHardcore {
    display: none;
}
#coolingSystemPickerPleb {
    display: none;
}
#footer-disclaimer {
    text-align: center;
}
#footer-logo {
    color: #e8e8e8;
    font-size: 2.7rem;
}
    #footer-logo:hover {
        color: #9b333f;
        font-size: 2.7rem;
    }
#homeCard {
    margin-top: 1.2rem;
}
#homepage-col-spacing {
    margin-top:30px;
}
#homepage-divider {
    width: 100%;
    height: 1px;
    margin-top: 2.7rem;
    margin-bottom: 1.8rem;
    border-bottom: 1px solid #e8e8e8;
}



/* standard css */
body {
    padding-bottom: 20px;
    background-color: #1C1C1C !important;
    color: #e8e8e8;
    font-family: 'Play', sans-serif;
}
.btn.btn-primary {
    margin-top: 27px;
}

.card {
    padding: 15px;
}


.row {
    margin-bottom: 2.7rem;
}
.partpicker-label {
    color: #9b333f;
    font-size: 1.8em;
}

/* Wrapping element */
/* Set some basic padding to keep conten5t from hitting the edges */
.body-content {
    padding: 44px;
}

/* Carousel */
.carousel-caption p {
    line-height: 5rem;
    font-weight: 900;
    font-size: 4.5em;
    margin-bottom: 0;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
ul {
    list-style-type: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

