/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* custom css */
.bg-dark {
    background-color: #1C1C1C !important;
    border-bottom: .1px solid #9b333f;
}
.container-fluid {
    margin-top:25px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #9b333f;
}
a {
    color: #9b333f;
}
a:hover {
    color: #e8e8e8;
    text-decoration:none;
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color:#e8e8e8;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #9b333f;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #e8e8e8;
}
.navbar {
    padding:0 1rem;
}
.nav-link {
    display: block;
    padding: 1.5rem 1rem;
}
.dropdown-menu {
    background-color:#1C1C1C;
}
.dropdown-item {
    color: #9b333f;
}



/* Part Picker */
#cablePicker {
    display: none;
}
#coolingSystemPicker {
    display:none;
}
/**/
body {
    padding-bottom: 20px;
    background-color: #1C1C1C !important;
}
.btn.btn-primary {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    padding: 15px;
}


.row {
    margin-bottom: 30px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 39px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
ul {
    list-style-type: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

