@model Computer_Component_Store.Data.ComputerComponentOrder
@{
    ViewData["Title"] = "Order " + Model.ID;
}
<h2>Order @Model.ID</h2>
<h3>You purchased:</h3>
<ul>
    @foreach (var item in Model.ComputerComponentOrderItems)
    {
        <li>@item.ProductName : @item.Quantity</li>
    }
</ul> 
<p>You paid @((Model.ComputerComponentOrderItems.Sum(x => x.Quantity * x.ProductPrice)).Value.ToString("c"))</p>