@model IEnumerable<Computer_Component_Store.Data.ComputerComponentProduct>
@{
    ViewData["Title"] = "Motherboards";
}
<div class="row">
    @foreach (var product in Model)
    {

        if (product.Category == "MOTHERBOARD")
        {
        <div class="col-xs-4">
            <div class="well">
                <h2>@product.Name</h2>
                <img class="img-responsive" src="@Url.Content(product.ImageURL)" />
                <p>@product.Description</p>
                <button type="button" class="btn btn-success">Success</button>
            </div>
        </div>
        }
    }
</div>